<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <div class="container">
    <%- include('./partials/header.ejs') %>
    <% for (let i = 0; i < data.length; i++) { %>
        <div class="pokemon">
            <a href="/pokedex/<%= i %>"><img class="image" src="<%= data[i].img%>"></a>
            <a class="name" href="/pokedex/<%= i %>"><%= data[i].name %></a>
            <form action="/pokedex/<%=i; %>?_method=DELETE" method="POST">
            <input class="formbutton" type="submit" value="Delete" />
            </form>
            <a href="/pokedex/<%=i; %>/edit"><button>Edit</button></a>
        </div>
    <% } %>
    </div>
</body>
</html>