<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/header.ejs') %>
            <h1><%= data.name %></h1>
                <a href="/pokedex"><img src="<%= data.img%>"></a>
                <p>ID: <%= data.id %>
                <ul>TYPE
                    <li> <%= data.type %></li>
                </ul>
                <ul>STATS
                    <li>HP: <%= data.stats.hp %></li>
                    <li>ATTACK: <%= data.stats.attack %></li>
                    <li>DEFENSE: <%= data.stats.defense %></li>
                </ul>
    
</body>
</html>